version: 2.1
jobs:
  build-node18:
    docker:
      - image: cimg/node:18.7-browsers
    working_directory: ~/repo
    environment:
      HUSKY_SKIP: "true"
      NODE_OPTIONS: "--openssl-legacy-provider"
    steps:
      - run: sudo apt-get install libxss1
      - checkout
      - run: yarn
      - run: yarn run ci

  build-node16:
    docker:
      - image: cimg/node:16.17-browsers
    working_directory: ~/repo
    environment:
      HUSKY_SKIP: "true"
    steps:
      - run: sudo apt-get install libxss1
      - checkout
      - run: yarn
      - run: yarn run ci

  build-node14:
    docker:
      - image: cimg/node:14.20-browsers
    working_directory: ~/repo
    environment:
      HUSKY_SKIP: "true"
    steps:
      - run: sudo apt-get install libxss1
      - checkout
      - run: yarn
      - run: yarn run ci

  compliance:
    docker:
      - image: cimg/python:3.6
    working_directory: ~/workdir
    environment:
      HUSKY_SKIP: "true"
    steps:
      - checkout
      - run:
          name: compliance check
          command: |
            pip3 install --user reuse
            ~/.local/bin/reuse lint

  deploy-npm:
    docker:
      - image: cimg/node:16.17-browsers
    working_directory: ~/repo
    environment:
      HUSKY_SKIP: "true"
    steps:
      - run: sudo apt-get install libxss1
      - checkout
      - run: yarn --pure-lockfile
      - run: yarn run ci
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      # To help debug when lerna detects changes to the working tree and fails the publish
      - run: git status
      # https://github.com/lerna/lerna/issues/2788
      - run: yarn run release:publish --no-verify-access

  prepare-vsix:
    docker:
      - image: cimg/node:16.17-browsers
    working_directory: ~/repo
    environment:
      HUSKY_SKIP: "true"
    steps:
      - run: sudo apt-get install libxss1
      - checkout
      - run: yarn
      - run: yarn run ci
      - persist_to_workspace:
          root: "./packages/vscode-ui5-language-assistant"
          paths:
            # https://golang.org/pkg/path/filepath/#Match
            - vscode-ui5-language-assistant-*

  deploy-gh-releases:
    docker:
      - image: cimg/go:1.16
    steps:
#      - attach_workspace:
#          at: ./dist
      - run:
          name: "Publish Release on GitHub"
          command: |
            go get -u github.com/tcnksm/ghr
            ghr
#            VERSION=${CIRCLE_TAG}
#            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} ./dist/

workflows:
  version: 2  
  voter:
    jobs:
      - build-node18
      - build-node16
      - build-node14
      - compliance
      - deploy-gh-releases # testing build... TODO: REMOVE THIS LATER
  release:
    jobs:
      - deploy-npm:
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
      - prepare-vsix:
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
      - deploy-gh-releases:
          requires:
            - prepare-vsix
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
